<% @seat_configs.each_with_index do |seat_config, index| %>
  <h4><%= seat_config.seat_type_config.config_key.humanize %> Class</h4>
  <%= f.hidden_field "seat_config_attributes[#{index}][seat_type]", value: seat_config.seat_type %>
  <div class="row">
    <div class="col-md-12 form-group">
      <label>Seats in a row</label><br>
      <%= f.number_field "seat_config_attributes[#{index}][seats_in_row]", value: seat_config.seats_in_row, max: 26, class: 'form-control' %>
    </div>
    <div class="col-md-12 form-group">
      <label>No of rows</label><br>
      <%= f.number_field "seat_config_attributes[#{index}][no_of_rows]", value: seat_config.no_of_rows, class: 'form-control' %>
    </div>
    <div class="col-md-12 form-group">
      <label>Base price for the seat</label><br>
      <%= f.number_field "seat_config_attributes[#{index}][base_price]", value: seat_config.base_price, class: 'form-control' %>
    </div>
  </div>
<% end %>
