<% if @connected %>
<div class="booking-new text-center" data-connected=1>
<% else %>
<div class="booking-new text-center">
<% end %>
  <div class="container">
    <div class="row">
      <%= form_for @booking do |f| %>
        <%= hidden_field_tag :seat_nos, "{}" %>
        <%= f.hidden_field :no_of_seats, value: @no_of_seats %>
        <%= f.hidden_field :amount, value: nil %>
        <%= f.hidden_field :origin, value: @origin %>
        <%= f.hidden_field :destination, value: @destination %>
        <% @flights.each do |flight| %>
          <div class="col-md-4">
            <h2><%= flight.origin %> - <%= flight.destination %></h2>

            <!-- Displaying seat selection for flight -->
            <% flight.seat_configs.each do |seat_config| %>
              <h4><%= seat_config.seat_type_config.config_key.humanize %> Class</h4>
              <% seat_array = ('A'..'Z').to_a %>

              <!-- Seat checkboxes -->
              <% seat_config.no_of_rows.times do |row| %>
                <% seat_config.seats_in_row.times do |seat| %>
                  <% seat_number = "#{row + 1}#{seat_array[seat]}" %>
                  <% booked = seat_booked?(flight.id, seat_config.id, seat_number, @booked_seats) %>
                  <%= check_box_tag :seat, seat_number, false, 'data-flight_id' => flight.id,
                  'data-seat_type' => seat_config.id, 'data-amount' => seat_config.base_price,
                  disabled: booked, 'data-seat_booked' => booked %>
                <% end %>
                <br>
              <% end %>
              <br>
            <% end %>
          </div>
        <% end %>
        <div class="col-md-4">
          <h4>Amount: <span id="amount"></span></h4>
          <br><br>
          <%= f.submit 'Enter details' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
